head{
    color:antiquewhite; 
    display: flexbox;
    align-items: center;
    justify-content: center;
    padding: 28px;
    background-color: gray;}

nav{
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
    background-color: gray;

}
body{
    
}